<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>员工信息管理</title>
<link rel="stylesheet" href="./view/style.css">
</head>
<body>
<div class="box">
	<h1 class="title">员工信息管理</h1>
	<ul>
		<li><a href="?action=a1">查看员工（张三）</a></li>
		<li><a href="?action=a2">查看员工（李四）</a></li>
		<li><a href="?action=a3">查看管理层员工（张三）</a></li>
		<li><a href="?action=a4">查看普通员工（李四）</a></li>
		<li><a href="?action=add">添加员工信息</a></li>
		<li><a href="?module=MobilePhone&action=connect">传输资料（手机-电脑）</a></li>
	</ul>
</div>
</body>
</html>