@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\000038}}
* {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000312}}
body {
  background: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000315}}
.main {
  width: 1000px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000319}}
.toolbar {
  position: fixed;
  bottom: 50px;
  right: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000324}}
.item {
  display: block;
  width: 52px;
  height: 52px;
  color: green;
  background: url("../img/toolbar.png") no-repeat;
  margin-top: 1px;
  transition: .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000334}}
.item:hover .layer {
  opacity: 1;
  transform: scale(1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000340}}
.wechat {
  background-position: 0 -798px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000342}}
.wechat:hover {
  background-position: 0 -860px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000345}}
.wechat .layer {
  height: 212px;
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000350}}
.contact {
  background-position: 0 -426px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000352}}
.contact:hover {
  background-position: 0 -488px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000356}}
.app {
  background-position: 0 -550px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000358}}
.app:hover {
  background-position: 0 -612px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000362}}
.top {
  background-position: 0 -674px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000364}}
.top:hover {
  background-position: 0 -736px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Song\/Desktop\/exercise\/sideBar\/css\/index\.scss}line{font-family:\0000368}}
.layer {
  position: absolute;
  right: 47px;
  bottom: 0;
  width: 172px;
  background: url("../img/toolbar.png") no-repeat;
  opacity: 0;
  transform: scale(0.01);
  transform-origin: right top;
  transition: .5s;
}

/*# sourceMappingURL=index.css.map */
